@model IEnumerable<UserViewModel>

<div class="container">
    <h2>AllUsers</h2>
    @foreach (var user in Model)
    {
        <div>
            @user.UserName
            @Ajax.ActionLink("Edit",
           "EditUser",
           new { username = user.UserName },
           new AjaxOptions
           {
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "editArea"
       })
        </div>
    }
    <div id="editArea"></div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}
