@model UserViewModel
@{
    ViewBag.Title = "DisplayCourses";
}

<h2>DisplayCoursesForAdmin</h2>

<div>
    @Model.UserName
</div>

<hr>
<div>
    <h2>Started Courses</h2>
    @if (ViewBag.StartedCourses == null)
    {
        <h3>No Courses here</h3>
    }
    else
    {
        <table class="responsive-table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Is Mandatory
                </th>
                <th>
                    Asignment Date
                </th>
                <th>
                    Completion Date
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Status
                </th>
            </tr>
            @foreach (var course in ViewBag.CompletedCourses)
            {
                UserCourseAssignmentViewModel userCourseAssignment = new UserCourseAssignmentViewModel
                {
                    Name = course.Name,
                    AssignmentDate = course.AssignmentDate,
                    Status = course.Status,
                    CompletionDate = course.CompletionDate,
                    IsMandatory = course.IsMandatory,
                    DueDate = course.DueDate
                };
                Html.RenderPartial("_CourseTable", userCourseAssignment);
            }
        </table>
    }

</div>

<hr>
<div>
    <h2>Pending Courses</h2>
    @if (ViewBag.PendingCourses == null)
    {
        <h3>No Courses here</h3>
    }
    else
    {
        <table class="responsive-table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Is Mandatory
                </th>
                <th>
                    Asignment Date
                </th>
                <th>
                    Completion Date
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Status
                </th>
            </tr>
            @foreach (var course in ViewBag.PendingCourses)
            {
                UserCourseAssignmentViewModel userCourseAssignment = new UserCourseAssignmentViewModel
                {
                    Name = course.Name,
                    AssignmentDate = course.AssignmentDate,
                    Status = course.Status,
                    CompletionDate = course.CompletionDate,
                    IsMandatory = course.IsMandatory,
                    DueDate = course.DueDate
                };
                Html.RenderPartial("_CourseTable", userCourseAssignment);
            }
        </table>
    }

</div>

<hr>
<div>
    <h2>Completed Courses</h2>
    @if (ViewBag.CompletedCourses == null)
    {
        <h3>No Courses here</h3>
    }
    else
    {
        <table class="responsive-table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Is Mandatory
                </th>
                <th>
                    Asignment Date
                </th>
                <th>
                    Completion Date
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Status
                </th>
            </tr>
            @foreach (var course in ViewBag.CompletedCourses)
            {
                UserCourseAssignmentViewModel userCourseAssignment = new UserCourseAssignmentViewModel
                {
                    Name = course.Name,
                    AssignmentDate = course.AssignmentDate,
                    Status = course.Status,
                    CompletionDate = course.CompletionDate,
                    IsMandatory = course.IsMandatory,
                    DueDate = course.DueDate
                };
                Html.RenderPartial("_CourseTable", userCourseAssignment);
            }
        </table>
    }

</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}