@{
    ViewBag.Title = "Courses";
}

<section class="container">
    <section class="row z-depth-3 shadow-container">
        @using (Html.BeginForm("UploadCourses", "Admin", FormMethod.Post,
                                            new { id = "file-upload-form", @class = "uploader", enctype = "multipart/form-data" }))
        {
           

            <h3> Upload Course JSON here </h3>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Browse</span>
                    <input type="file" />
                </div>

                <div class="file-path-wrapper">
                    <input class="file-path validate"
                           type="text"
                           placeholder="Upload file" />
                </div>
            </div>
            <div class="input-field col s6 offset-s3">
                <input type="submit" value="Upload" class="waves-effect btn" />
            </div>
        }
    </section>
</section>