@model  TakeCourseVIewModel
@{
    ViewBag.Title = "TakeCourse";
}

<h2>Take Course</h2>

@if (Model.Images == null)
{
    <div>no images for this course</div>
}
else
{
    foreach (var image in Model.Images)
    {

        <div class="item">
            <img src="@Url.Action("RenderImage", new {id = image.Id})" />
        </div>
    }

}




