@{
    ViewBag.Title = "Courses";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <div> Top Courses </div> 
    <br />
    <br />
    <div> Current Course</div>
        <div class="carousel carousel-slider center " data-indicators="true">
            <div class="carousel-fixed-item center middle-indicator">
                <div class="left">
                    <a href="Previo" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
                </div>

                <div class="right">
                    <a href="Siguiente" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
                </div>
            </div>
            <div class="carousel-item red white-text" href="#one!">
                <img src="~/Content/Images/background1.jpg" />
                <h2>First Panel</h2>
                <p class="white-text">This is your first panel</p>
                
            </div>
            <div class="carousel-item amber white-text" href="#two!">
                <h2>Second Panel</h2>
                <p class="white-text">This is your second panel</p>
                <img src="~/Content/Images/background2.jpg" />
            </div>
            <div class="carousel-item green white-text" href="#three!">
                <h2>Third Panel</h2>
                <p class="white-text">This is your third panel</p>
                <img src="~/Content/Images/background1.jpg" />
            </div>
            <div class="carousel-item blue white-text" href="#four!">
                <h2>Fourth Panel</h2>
                <p class="white-text">This is your fourth panel</p>
                <img src="~/Content/Images/background3.jpg" />
            </div>
        </div>
    <form action="#">
        <h4> First Question </h4>
        <h5> Is you stupid? </h5>
        <p>
            <input class="with-gap" name="group1" type="radio" id="test1" />
            <label for="test1">No!</label>
        </p>
        <p>
            <input class="with-gap" name="group1" type="radio" id="test2" />
            <label for="test2">Yes</label>
        </p>
        <p>
            <input class="with-gap" name="group1" type="radio" id="test3" />
            <label for="test3">Maybe</label>
        </p>
        <p>
            <input class="with-gap" name="group1" type="radio" id="test4" />
            <label for="test4">I love milk!!!</label>
        </p>
    </form>

        <button class="btn waves-effect waves-light" type="submit" name="action">
            Submit
            <i class="material-icons right">send</i>
        </button>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/carouselJS")
}
